### OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json


### JetBrains
.idea/

### Project
node_modules/
bower_components/
coverage/
npm-debug.log

### npm
src
test
.gitignore
.jshintrc
.jscsrc
bower.json
paths.json
Gruntfile.js
